<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About | Lab Express</title>
        <meta content="IE=edge" http-equiv="X-UA-Compatible" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="description" content="" />
        <meta name="author" content="Julien Sebag" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:locale" content="en_GB" />
        <!-- Website Language (see here https://stackoverflow.com/questions/3191664/list-of-all-locales-and-their-short-codes) -->
        <link href="/images/" rel="shortcut icon" />

        <!-- CSS -->
        <link rel="stylesheet" href="/css/style.min.css" />

        <!-- JS -->
    </head>

    <body>
        <header>
            <a href="/">
                <img src="/images/rone-logo.png" alt="Logo">
            </a>

            <nav>
                <a href="/">Home</a>
                <a href="/about" class="active">About him</a>
                <a href="/works">His works</a>
                <a href="/gallery">Gallery</a>
            </nav>
        </header>

        <div class="wrapper">
            <main>
                <h1>About Rone</h1>

                <p>Rone (born Erwan Castex, June 20, 1980) is a French electronic music producer and artist.</p>

                <h2>Early steps</h2>

                <p>Erwan Castex was born in Boulogne-Billancourt, France. He grew up in Paris. His first EP
                    &quot;Bora&quot;
                    came out in
                    2008 on the French label InFiné. French DJ/Producer Agoria selected the track for his mix
                    compilation
                    &quot;At the
                    Controls&quot;, attracting immediate support from a good part of the electronic music scene, for
                    instance in the UK
                    (Massive Attack's 3D, Sasha and London's Fabric resident DJ Lee Burridge).</p>

                <h2>2009–2010: Debut album Spanish Breakfast, a change of status</h2>

                <p>In 2009, Rone released a new maxi, entitled &quot;La Dame Blanche&quot;. The track was later remixed
                    by
                    LCD
                    Soundsystem's bass player Tyler Pope and Austrian electronic music artist Clara Moto. The same year
                    he
                    brought out
                    his first full-length album &quot;Spanish Breakfast&quot;, also on Infiné. Electronic Beats ranked
                    him
                    in their top
                    25 Best Albums of 2009.</p>

                <h2>2011–2012: Berlin, new inspiration, new album</h2>

                <p>In 2011, in search of new inspiration, Rone decided to leave his hometown Paris for Berlin. This led
                    in
                    spring of
                    2011 to release of the critically acclaimed EP So So So. A second album entitled « Tohu Bohu »
                    (Biblical
                    Hebrew
                    expression meaning chaos) followed in October 2012, likewise on Infiné. The album featured the
                    single
                    Let's Go, with
                    vocals by US rapper High Priest from New York's Antipop Consortium Resident Advisor gave the album 4
                    out
                    of 5 and
                    Rone won three 2012 Trax Magazine awards : Best French Artist, Best Album and Best Music Video.</p>

                <p>Tohu Bohu gave rise to three singles : Parade, Bye Bye Macadam and Let's Go. All three singles were
                    promoted by
                    videos, the most successful, Bye Bye Macadam, having been viewed more than 40 million times on
                    YouTube
                    and been
                    shown on Cartoon Network in Adult Swim's Off the Air episode &quot;Worship&quot;.</p>

                <h2>2013: Tohu Bohu Tour, collaborations and Tohu Bonus</h2>

                <p>Early in 2013 the US indie band The National asked Rone to add some electronic sequences to their new
                    album
                    &quot;Trouble Will Find Me&quot; on 4AD. Rone added his distinctive to parts of the album. As The
                    National’s lead
                    singer Matt Berninger said in an interview &quot;Rone's work has brought something fresh to our
                    sound,
                    I’m not
                    saying we re-invented ourselves as a band, but we’ve opened new doors&quot; The same year, Gabriel
                    &amp;
                    Dresden,
                    Juan Atkins, Chris Clark (musician) and Dominik Eulberg remixed respectively the tracks Bye Bye
                    Macadam,
                    Let's Go,
                    and Parade and the godfather of French electronic music Jean-Michel Jarre was so interested by
                    Rone's
                    productions
                    that he selected two of his tracks to feature on the compilation &quot;Infiné by JMJ&quot; The album
                    Tohu Bohu was
                    later re-released with a bonus disc with 6 unreleased tracks, one of them features John Stanier on
                    drums
                </p>

                <h2>2014: Apache EP – North American tour</h2>

                <p>2014 saw the release of the Apache EP, in April. Simultaneously Rone toured North America for the
                    first
                    time in his
                    career, finishing off with an appearance at Coachella Valley Music and Arts Festival's The Do LaB
                    Stage.
                    In the same
                    year, Rone made remixes for iconic French pop singer Etienne Daho and Breton (band)</p>

                <h2>Testing new technologies</h2>

                <p>He also collaborates with sound engineers from Radio France on binaural versions of the tracks
                    &quot;Apache&quot;,
                    &quot;Quitter la ville&quot; and &quot;Acid Reflux&quot;, reproducing an audio 3D effect.</p>
            </main>
        </div>

        <!-- JS -->
    </body>
</html>
