<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Works | Lab Express</title>
        <meta content="IE=edge" http-equiv="X-UA-Compatible" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="description" content="" />
        <meta name="author" content="Julien Sebag" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:locale" content="en_GB" />
        <!-- Website Language (see here https://stackoverflow.com/questions/3191664/list-of-all-locales-and-their-short-codes) -->
        <link href="/images/" rel="shortcut icon" />

        <!-- CSS -->
        <link rel="stylesheet" href="/css/style.min.css" />

        <!-- JS -->
    </head>

    <body>
        <header>
            <a href="/">
                <img src="/images/rone-logo.png" alt="Logo">
            </a>

            <nav>
                <a href="/">Home</a>
                <a href="/about">About him</a>
                <a href="/works" class="active">His works</a>
                <a href="/gallery">Gallery</a>
            </nav>
        </header>

        <div class="wrapper">
            <main>
                <h1>Rone's work</h1>

                <h2>Parade</h2>

                <p>Released in 2013 on <a href="https://rone-music.bandcamp.com/album/tohu-bohu" target="_blank"
                        rel="noreferrer noopener">Tohu Bohu</a>.</p>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/bB4yjbd_EWI"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

                <h2>Ouija</h2>

                <p>Released in 2015 on <a href="https://rone-music.bandcamp.com/album/creatures" target="_blank"
                        rel="noreferrer noopener">Creatures</a>.</p>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/hPYPhJr8CA0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

                <h2>Waves of Devotion</h2>

                <p>Released in 2021 on <a href="https://rone-music.bandcamp.com/album/rone-friends" target="_blank"
                        rel="noreferrer noopener">Rone & Friends</a>.</p>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/KbKD5KhqFJQ"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

                <h2>Live in Paris Philharmonie</h2>

                <p>Best live of 2018 ❤️</p>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/ZtONGk-ViRk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </main>
        </div>

        <!-- JS -->
    </body>
</html>
